.banner {
  position: relative;

  .banner_carousel {
    background: url(img/hero.png);
    background-size: 100% 100%;
  }

  .text-banner {
    width: 26.04%;
    height: 56%;
    position: absolute;
    top: 16.67%;
    left: 11.81%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    #text-banner__button {
      display: inline;

      #shop_now_circle {
        width: 40px;
        height: 40px;
        background: #e7161b;
        border-radius: 100%;
        color: white;
        margin: 0 auto;
        display: block;
      }
    }

    .features {
      display: flex;

      .feature_box {
        display: flex;
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;

        .red_text_introducing {
          font-size: 10px;
          line-height: 15px;
          letter-spacing: 0.07em;
          text-transform: uppercase;
          color: #e7161b;
        }

        .black_text_introducing {
          font-size: 18px;
          line-height: 20px;
          color: #393636;
        }
      }
    }

    border-radius: 3px;
    padding: 10px;

    @media (max-width: 500px) {
      width: 80%;
      height: 80%;
      top: 10%;
    }

    #your-vehicle {
      color: #e7161b;
      font-family: Hind;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 25px;
      letter-spacing: 0.07em;
      text-transform: uppercase;

      @media (max-width: 1000px) {
        font-size: 24px;
        line-height: 30px;
      }

      @media (max-width: 700px) {
        font-size: 18px;
      }

      @media (max-width: 600px) {
        font-size: 16px;
        line-height: 18px;
      }
    }

    #introducing {
      font-family: Poppins;
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 38px;

      color: #222222;

      @media (max-width: 1000px) {
        font-size: 24px;
      }

      @media (max-width: 700px) {
        font-size: 18px;
      }

      @media (max-width: 400px) {
        font-size: 16px;
      }
    }
  }
}

.carousel .control-dots {
  bottom: 40%;
  left: 90%;
}

.carousel .slide {
  background: none;
}
