.banner {
   
    position: relative;
  

    .banner_carousel {
   
     
    }

    .text-banner {
        width: 26.04%;
        height: 56%;
        position: absolute;
        top: 16.67%;
        left: 11.81%;

        background: rgba(0, 0, 0, 0.7);
        border-radius: 3px;

        @media (max-width: 320px) {
            width: 80%;
            
        }
    }
}