.category_page {
    
  
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 200px;

        #section_one {
        background: url(img/category.png);
        background-size: cover;
        }

        #section_two {
        background: url(img/category.png);
        background-size: cover;
        }

    section {
        @media (max-width: 1000px) {
            width: 25%;
        }



     
        width: 36.46%;
        height: 160px;

        margin-left: 25px;
        margin-right: 25px;

        padding: 10px;

        .category_border {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            border: 1px solid rgba(255, 255, 255, 0.85);
            box-sizing: border-box;


        

            .category_title {
                font-family: Lato;
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 29px;
                text-align: center;
                text-transform: uppercase;
                color: #FFFFFF;
               
           
                margin-bottom: 10px;
            }

            .category_title:after {
                margin: 0 auto;
                width: 40%;
                display: block;
                content: "";
                padding-top: 10px;
                border-bottom: 3px solid $darkRed;

            }

            .category_description {
                font-family: Lato;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
               
                color: #FFFFFF;
            }
        }
        

    }

    @media (max-width: 800px) {
        margin-top: 60px;
        margin-bottom: 60px;

        section {
            height: 100px;
            width: 43.75%;
        }
    }

    @media (max-width: 700px) {
        display: block;
        margin-top: 30px;
        margin-bottom: 30px;

        section {
            width: 80%;
            margin: 30px auto;
        }
    }
}