header {
    position: relative;


    .bar {
        position: inherit;
        height: 30px;
        background-color: $darkRed;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;


        .free-shipping-from {
            
            font-family: $fontPrimary;
            font-weight: 600;
            font-size: 12px;
            line-height: 14px;
            text-transform: uppercase;
            color: #FFFFFF;

            @media (max-width: 500px) {
                display: none;
            }
        }

        .social-icons {
           svg {
               margin: 1px;
           }
            
        }
    }

    .menu {
        position: relative;
        height: 90px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        #logo {
            position: absolute;
            left: 11.8056%;

            @media (max-width: 1250px) {
                left: 36%;

            }

            img {
                @media (max-width: 500px) {
                    width: 150px;

                }
            }
        }

        #hamburger {
            display: none;
        }


        #menu_nav {
            position: absolute;
            left: 30.8333%;
            
            font-family: Lato;
            font-style: normal;
            font-weight: 600;
            font-size: 13px;
            line-height: 16px;
            text-transform: uppercase;
       


            ul {
                display: flex;
                flex-direction: row;
                
                list-style: none;
                list-style-type: none;

                li {
                    margin: 5px;
                    a {
                        color: rgba(102, 102, 102, 0.85);
                    }
                }
            }

            @media (max-width: 1250px) {
                display: none;

            }

        }

        a {
            text-decoration: none;
        }

        .login_cart {
           display: flex;
           flex-direction: row;
           margin: 15px;
           align-items: center;

           position: absolute;
           right: 11.528%;

           font-family: Lato;
           font-style: normal;
           font-weight: 600;
           font-size: 13px;
           line-height: 16px;
           text-transform: uppercase;

           #login {
            @media (max-width: 350px) {
                display: none;
            }
           }

           #cart {
               @media (max-width: 600px) {
                   display: none;
               }
           }
           

           div {
               margin: 5px;

               a {
                   color: rgba(102, 102, 102, 0.85);
               }
           }



           svg {
          
            font-size: 13px;
           }

           #cartsizeparent {
               position: relative;
             
              #cartsize {   
                position: absolute;
                top: 1px;
                left: 4px;
              }
           }

           @media (max-width: 1250px) {
               #login {
                   display: none;
               }
           }

        }

        @media (max-width: 1250px) {
            #hamburger {
            display: inline-block;
            position: absolute;
            left: 11.8056%;
            }
        }
    }
}

aside {
    width: 288px;
    position: fixed;
    height: 100%;
    margin-top: -120px;
    z-index: 100;
    transform: translateX(-288px);
    background-color: #FFFFFF;

    @media (max-width: 320px) {
        width: 286px;
    }
}

.open {
    transform: translateX(0);
}

.hamburger {

        #xparent {
        #x {
            position: absolute;
            right: 10px;
            top: 10px;


            }
       }

    #content {
        display: flex;
        flex-direction: column;
        
        align-items: center;
        margin-top: 80px;

        img {
            padding: 5px;
            border-bottom: 1px solid red;
            width: 80%;
        }

        #login {
            width: 95%;
            
            text-decoration: none;
            background: #E7161B;
            padding: 10px 30px;
            display: block;

            font-family: Lato;
            color: #FFFFFF;
            font-style: normal;
            font-weight: 600;
            font-size: 13px;
            line-height: 16px;
            text-align: center;
            text-transform: uppercase;

        }



        #hamburger_nav {

            width: 95%;

            ul {
                list-style: none;
                padding: 30px;
                margin: 0px;
                
                font-family: Lato;
                font-style: normal;
                font-weight: 600;
                font-size: 13px;
                line-height: 16px;
                text-transform: uppercase;

                li {
                    padding: 10px;
                    border-bottom: 1px solid rgba(102, 102, 102, 0.2);
                    a {
                        text-decoration: none;
                        color: rgba(102, 102, 102, 0.85);
                    }
                }
            }
        }
    }
}