.ourblog {
  margin-top:  80px;

  &_titlerow {

    display: flex;
    justify-content: space-around;
    align-items: center;

    h1 {
      font-family: Poppins;
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      color: #393636;
    }

    a {
      border: none;
      background: none;
      font-family: Hind;
      font-style: normal;
      font-weight: 500;
      letter-spacing: 0.07em;
      color: #E7161B;
      text-decoration: none;
    }
  
  }


  #first {
    width: 80%;
  
    margin: 10px auto;

    .ourblog_post {

      &:hover {

        .ourblog_post_textbox {
          &_black {
            background: #E7161B;
          }
        }
      }
      position: relative;
      .ourblog_post_textbox {
          // padding: 15px;

        &_black {
          background: #393636;
          color: #FFFFFF;
          margin: 40px auto;
          width: 100%;
          display: block;
          text-align: center;
          font-family: Open Sans;
          font-style: normal;
          font-weight: normal;
          font-size: 13px;
          line-height: 24px;
          padding: 10px;
          
        }

        &_white {
          span {
            display: block;
            color: #E7161B;
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 21px;
            text-align: center;
            padding: 5px;

          }
          text-align: center;
          font-family: Open Sans;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 20px;
          color: #393636;
          padding: 20px;
        }

        position: absolute;
        top: -70px;
        background: white;
        width: 90%;
        left: 16px;

      }
  }

    .slick-slide {
      padding: 25px;
    }

 
  }

  #second {

  
    #second_testimonial {
      background: url('img/testimonials.png');
      margin-bottom: 50px;
    }

    h1 {
      font-family: Poppins;
      font-style: normal;
      font-size: 48px;
      line-height: 72px;
      color: #222222;
      margin-left: 11.8%;
    }
    
  

    p {
      margin: 85px;
      text-align: center;

      @media (max-width: 800px) {
        margin: 70px;
      }

      @media (max-width: 700px) {
        margin: 65px;
      }

      @media (max-width: 500px) {
        margin: 45px;
      }

      @media (max-width: 400px) {
        margin: 20px;
      }
    }

    @media (max-width: 768px) {
      margin: 60px 6.25%;
    }

    @media (max-width: 400px) {
      margin: 40px 5%;
    }

    .second_quote {
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 30px;
      text-align: center;
      color: #393636;

      span {
        font-weight: bold; 

      }
    }

    #redquote {
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      color: #E7161B;
      font-size: 124px;
      line-height: 10px;
      text-align: center;
      margin-bottom: -50px;

      @media (max-width: 500px) {
        margin-bottom: -20px;
      }
    }
  }

    .slick-prev:before {
    color: rgba(102, 102, 102, 0.85);
    font-family: none;
    color: white;
    
    }

    .slick-next:before {
    color: rgba(102, 102, 102, 0.85);
    font-family: none;
    color: white;
   
    }

}

   .slick-slider {
      margin-left: 20%;
      width: 70%;
    }
