.ourblog {

  

  h1 {
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(102, 102, 102, 0.85);
  }

  #first {
    width: 79.86%;
      margin-bottom: 100px;
  }

  #second {
    width: 79.86%;
    margin-bottom: 100px;
  }

    .slick-prev {
    background: red;
    
    }

    .slick-next {
    background: red;
   
    }

}

