.redband {
  
    background: $darkRed;
    display: flex;
    flex-direction: row;
    align-items: center;

    @media (max-width: 800px) {
        display: block;
        width: 100%;
        text-align: center;
    }
  

    #signuptonewsletter {
        font-family: Lato;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 24px;
       
        
        
        position: relative;
        margin: 29px 4.7% 29px 12%;
        
        color: #FFFFFF;
    @media (max-width: 800px) {
        display: block;
        width: 100%;
        margin: 0 auto;
        padding: 20px 1px;
    }
    }

    #getallthelatest {
        width: 300px;
        margin: 29px 50px 29px 4.7%;
        
        font-family: Open Sans;
        font-style: normal;
    
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;

    @media (max-width: 800px) {
        display: block;
        width: 100%;
        margin: 0 auto;
    }
    }

    #subscribe {
        margin: 29px 10% 29px 50px;
        display: flex;
        @media (max-width: 800px) {
        display: block;
        width: 100%;
        margin: 0 auto;
        padding: 10px 1px;
    }


        input {
            height: 50px;
            width: 200px;
            padding-left: 20px;
        }
        button {
            height: 50px;
            width: 100px;
            background: #393636;
            border-radius: 0px 3px 3px 0px;

            font-family: Lato;
            color: #FFFFFF;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            text-transform: uppercase;
        }

        @media (max-width: 350px) {
            display: block;
            input {
                display: block;
                margin: 0 auto;
                margin-bottom: 20px;
            }
            button {
                display: block;
                margin: 0 auto;
            }
        }
    }

    @media (max-width: 768px) {
        flex-direction: column;
        #signuptonewsletter {
            margin: 30px auto;
            max-width: 90%;
        }

        #getallthelatest {
            margin: 20px auto;
            max-width: 90%;
        }

        button {
            border-radius: 3px 3px 3px 3px;
        }

    }
}