.whythebest {

  height: 80%;
  .whycurrus {
    font-family: $fontPrimary;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;

    text-align: center;
    text-transform: uppercase;

    color: rgba(102, 102, 102, 0.85);

    margin: 0px 0px 30px 0px;
    padding-bottom: 10px;
   
  }

  .whycurrus:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 10%;
    padding-top: 20px;
    border-bottom: 1px solid $darkRed;
  }

  .title {
    width: 37.5%;
    margin: 0px 0px 0px 12.14%;
    background: #ffffff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.16);
  }

  p {
    width: 37.5%;
    margin: 0px 0px 0px 12.14%;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    color: rgba(102, 102, 102, 0.85);
  }

  #grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 11.8%;
    margin-left: 11.8%;



    #homefaq {
      padding: 50px;
    }

    #image {
    
      align-self: end;
      img {
        
        object-fit: cover;
        max-width: 80%;
        max-height: 70%;

      }

      @media (max-width: 1000px) {
          img {
              max-width: 70%;
              max-height: 70%;
          }
      }
      
      @media (max-width: 768px) {
        padding-right: 50px;
        padding-top: 50%;
        padding-bottom: 50%;
        img {
          min-width: 0;
          min-height: 0;
          max-width: 100%;
          max-height: 100%;
          object-fit: cover;
        }
      }





    }


      @media (max-width: 500px) {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 10px;

        #homefaq {
            padding: 10px;
        }

        #image {
            padding-top: 5px;
            padding-bottom: 5px;
        img {

        }
        }
      }
  }

.sandbox {
    
    margin: 0;
    margin-left: 17%;

    &_whycurrus {
      font-family: Poppins;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      color: #393636;
      margin-bottom: 30px;
    }

    @media (max-width: 500px) {
      margin-left: 0;
      margin-right: 10%;
    }

    .wrapper {
       margin: 0;
  
        position: relative;
        margin-bottom: 25px;
        

        .borderleft {
            border-left: 2px solid $darkRed;
            height: 85%;
            position: absolute;
            top: 18px;
            left: 25px;
            z-index: 7;
         


        }

        .borderopen {

        }

        .borderclosed {
            border-left: 2px solid $darkRed;
            height: 40%;
            position: absolute;
            
        }
       

        .title {
            background: rgba(231, 22, 27, 0.1);
            box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.16);
            
            width: 100%;
            margin: 0;

            font-family: Poppins;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #282828;
            position: relative;

            .icon {
                position: absolute;
                top: 20px;
                right: 20px;
            }
           
        }

        .closed {
            display: none;
        }

        .open {
            display: block;
        }

        .content {
           

            font-family: Hind;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 16px;
            color: rgba(102, 102, 102, 0.85);
        }

    }
}

}


