#aboutus {
    
    p {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #666666;
        
    }

#aboutus_welcome {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 300px;

    h4 {
        font-family: Hind;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        letter-spacing: 0.07em;
        color: #E7161B;
        margin: 0px;
       
    }

    h1 {
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        color: #222222;
        margin: 0px;
    }

    img {
        object-fit: content;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
    }



 
}

#our {
 
    margin-left: 11.8%;
    margin-right: 11.8%;

    h1 {
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        text-align: center;
        color: #222222;
    }

    h3 {
        padding: 0px;
        margin: 0px;
        font-family: Poppins;
        color: #393636;
        font-style: normal;
        font-size: 16px;
        letter-spacing: 0.01em;
    }

    .principles {

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        &_principle {
            display: grid;
            grid-template-columns: 1fr 10fr;

            &_circle {
                border-radius: 100%;
                width: 40px;
                height: 40px;
                background-color: rgba(231, 22, 27, 0.1);
                display: flex;
                align-items: center;
                justify-content: center;
                color: #E7161B;
            }
        }
    }
}

#aim_vision {

    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;

    @media (max-width: 500px) {
        display: block;
    }

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    img {
        width: 100%;
        height: 100%;
    }

    h3 {
        font-family: Poppins;
        font-style: normal;
        font-size: 36px;
        color: #FFFFFF;
        margin-left: 50px;

    }



    p {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 25px;
        color: white;
        margin-left: 50px;
        margin-top: 60px;
        margin-right: 50px;

        @media (max-width: 1000px) {
            font-size: 13px;
            line-height: 20px;
            margin-top: 20px;
        }
    }
}
}