.contactus {

    #wearehere_form {
        grid-template-columns: 1fr 1fr;
        input {
            padding-left: 10px;
        }
    }

   
    background: #E5E5E5;
    box-sizing: border-box;

    .contact_icons {
        margin-top: 50px;
        padding-bottom: 50px;
    }

    .contact_icons_box {
        display: flex;
    }

    .contact_icons_box_circle {
        width: 40px;
        height: 40px;
        background: rgba(231, 22, 27, 0.1);
        border-radius: 100%;
        margin: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #E7161B;
    }

    .contact_icons {
        display: flex;
        justify-content: space-around;
    }

    .contact_icons_top {
        color: #393636;
        font-family: Poppins;
        font-size: 16px;
    }

    .contact_icons_bottom {
        font-family: Hind;
        color: rgba(57, 54, 54, 0.8);
    }

    #wrapper_weare {
    display: grid;
    grid-template-columns: 1fr 1fr;
   
    column-gap: 50px;
    margin-left: 13%;
    margin-right: 13%;
   

        #wearehere_right {
            img {
                height: 100%;
                width: 100%;
                max-width: 100%;
                object-fit: cover;
                overflow: none;

            }
        }

        #wearehere {
            margin: auto;
            text-align: center;
            margin-top: 50px;
            

            h1 {
            font-family: Lato;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 24px;
            text-align: center;
            text-transform: uppercase;
            color: rgba(102, 102, 102, 0.85);

            }

            h4 {
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: rgba(102, 102, 102, 0.85);
            }

            button {
                background: #E7161B;
                border-radius: 3px;
                color: #FFFFFF;

                font-family: Lato;
                font-style: normal;
                font-weight: 600;
                font-size:1 16px;
                line-height: 19px;
                text-align: center;
                text-transform: uppercase;
            }
            
        }
    






   


        }
    }


