.contactus {

    #wearehere {
        background: white;
        padding: 20px;
        
        
    }

    #wearehere_form {
        grid-template-columns: 1fr 1fr;
        input {
            padding-left: 10px;
            background: #F5F5FA;
            border: none;
        }

        button {
            border: none;
            font-family: Hindi;
        }
    }

   
    background: #E5E5E5;
    box-sizing: border-box;

    .contact_icons {
        margin-top: 50px;
        padding-bottom: 50px;
    }

    .contact_icons_box {
        display: flex;
    }

    .contact_icons_box_circle {
        width: 40px;
        height: 40px;
        background: rgba(231, 22, 27, 0.1);
        border-radius: 100%;
        margin: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #E7161B;
    }

    .contact_icons {
        display: flex;
        justify-content: space-around;
    }

    .contact_icons_top {
        color: #393636;
        font-family: Poppins;
        font-size: 16px;
    }

    .contact_icons_bottom {
        font-family: Hind;
        color: rgba(57, 54, 54, 0.8);
    }

    #wrapper_weare {
    display: grid;
    grid-template-columns: 1fr 1fr;
   
   
    margin-left: 13%;
    margin-right: 13%;

   

        #wearehere_right {
            img {
                height: 100%;
                width: 100%;
                max-width: 100%;
                object-fit: cover;
                overflow: none;

            }
        }

        #wearehere_right {
            margin-top: 50px;
        }

        #wearehere {
            margin: auto;
            text-align: center;
            margin-top: 50px;
            margin-right: 0px;
            

            h1 {
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            color: #222222;

            }

            p {
            font-family: Hind;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            color: rgba(57, 54, 54, 0.8);
            }

            button {
                background: #E7161B;
                border-radius: 3px;
                color: #FFFFFF;

                font-family: Lato;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
             
                text-align: center;
                
            }
            
        }
    






   


        }
    }


