footer {
    box-sizing: border-box;
    background: #393636;


    #one {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        display: flex;
        justify-content: space-around;
        align-items: center;
       
       #contact_us {
            h6 {
                margin: 0;
            }
       }
      
     

        h6 {
            font-family: Lato;
            color: #FFFFFF;
            font-style: normal;
            font-weight: 550;
            font-size: 14px;
            line-height: 17px;
            text-transform: uppercase;
        }

        ul {
            list-style-type: none;
            padding-left: 0;
          
        }

        a {
            text-decoration: none;
            color: #888888;
        }

        @media (max-width: 320px) {
            display: block;
        }
    }

    #two {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-top: 56px;
        padding-bottom: 56px;
      

  
    }
}