footer {
    box-sizing: border-box;
    background: #393636;


    #one {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        display: grid;
        grid-template-columns: 29.167vw 14.375vw 14.17vw 57.715vw;
        height: 34%;
        box-sizing: border-box;
        grid-template-areas: 
        "contact support legal newsletter";

        h6 {
            font-family: Lato;
            color: #FFFFFF;
            font-style: normal;
            font-weight: 550;
            font-size: 14px;
            line-height: 17px;
            text-transform: uppercase;
        }

        ul {
            list-style-type: none;
            
          
        }

        a {
            text-decoration: none;
            color: #888888;
        }
    }

    #two {
        display: grid;
        box-sizing: border-box;
        grid-template-columns: 35.69vw 18.47vw 45.84vw;
        height: 16%;
        grid-template-areas:
        "copyright social card";

        #copyright {
            grid-area: copyright;
            padding: 60px 0px;
            align-self: center;
        }

        #social_icons {
            grid-area: social;
            align-self: center;
            justify-self: end;
        }

        #card {
            grid-area: card;
            justify-self: end;
            align-self: center;
        }
    }
}