html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

.breadcrumbs {
    height: 100px;
    background: linear-gradient(0deg, rgba(231, 22, 27, 0.71), rgba(231, 22, 27, 0.71)), url(img/category2.jpeg);

    @media (max-width: 600px) {
        height: 60px;
    }
}

.faq {
    margin-left: 13.89%;
    margin-right: 13.89%;
    margin-top: 60px;
    margin-bottom: 60px;
}