html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

.breadcrumbs {
    height: 100px;
    background: linear-gradient(0deg, rgba(231, 22, 27, 0.71), rgba(231, 22, 27, 0.71)), url(img/category2.jpeg);
    background-size: contain;
    display: flex;
    align-items: center;


    .homeshop {
        font-family: Lato;
        font-style: normal;
        font-style: 600;
        color: #FFFFFF;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
        vertical-align: middle;
        display: inline-block;
        margin-left: 15%;
    }

    @media (max-width: 600px) {
        height: 60px;
    }
}

.faq {
    margin-left: 13.89%;
    margin-right: 13.89%;
    margin-top: 60px;
    margin-bottom: 60px;
}

.sandbox {
    margin-left: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-top: 60px;

    .wrapper {
       
        position: relative;
        margin-bottom: 50px;

        .borderleft {
            border-left: 2px solid $darkRed;
            height: 85%;
            position: absolute;
            top: 18px;
            left: 25px;
            z-index: 7;
         


        }

        .borderopen {

        }

        .borderclosed {
            border-left: 2px solid $darkRed;
            height: 50%;
            position: absolute;
            top: 18px;
            left: 25px;  
            z-index: 4;
        }
       

        .title {
            background: #FFFFFF;
            box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.16);
            padding: 18px 50px 18px 50px;
            font-family: Open Sans;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #E7161B;
            position: relative;

            .icon {
                position: absolute;
                top: 20px;
                right: 20px;
            }
           
        }

        .closed {
            display: none;
        }

        .open {
            display: block;
        }

        .content {
            padding: 20px 50px 20px 50px;

            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;
            color: rgba(102, 102, 102, 0.85);
        }

    }
}