html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

.breadcrumbs {
    height: 100px;
    background: linear-gradient(0deg, rgba(231, 22, 27, 0.71), rgba(231, 22, 27, 0.71)), url(img/category2.jpeg);

    @media (max-width: 600px) {
        height: 60px;
    }
}

.faq {
    margin-left: 13.89%;
    margin-right: 13.89%;
    margin-top: 60px;
    margin-bottom: 60px;
}

.sandbox {
    margin-left: 100px;
    margin-bottom: 100px;
    margin-top: 60px;

    .wrapper {
       
        position: relative;
        margin-bottom: 50px;

        .borderleft {
            border-left: 2px solid $darkRed;
            height: 80%;
            position: absolute;
            top: 18px;
            left: 25px;


        }

        .borderclosed {
            border-left: 2px solid $darkRed;
            height: 50%;
            position: absolute;
            top: 18px;
            left: 25px;  
        }
       

        .title {
            background: #FFFFFF;
            box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.16);
            padding: 18px 50px 18px 50px;
           
        }

        .closed {
            display: none;
        }

        .open {
            display: block;
        }

        .content {
            padding: 20px 50px 20px 50px;
        }

    }
}