.login {
    margin-left: 34.375%;
    margin-right: 34.375%;
    margin-top: 60px;
    margin-bottom: 100px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.16);

    img {
        width: 200px;
        height: 50px;
    }

    h1 {
        font-family: Lato;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        text-transform: uppercase;
        color: rgba(57, 54, 54, 0.85);
    }

}