.safety {
    margin-top: 60px;
    margin-bottom: 100px;

    margin-left: 11.81%;
    margin-right: 11.81%;

    &_top {
        display: grid;
        grid-template-columns: 1.2fr 1fr;

        &_left {

            padding: 15px;


            h5 {
                font-family: Hind;
                font-style: normal;
                font-weight: normal;
                color: #E7161B;
                font-size: 18px;
            }

            h1 {
                font-family: Poppins;
                color: #222222;
                font-style: normal;
                font-weight: 600;
                font-size: 60px;
            }

            p {
                font-family: Hind;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                color: rgba(57, 54, 54, 0.8);
            }
        }

        &_right {
            img {
                height: 100%;
                object-fit: cover;
                max-width: 100%;
                width: 100%;
            }
        }
    }

    #icontext {
        display: grid;
        grid-template-columns: 1fr 20fr;

        &_circle {
            background-color: rgba(231, 22, 27, 0.1);
            width: 50px;
            height: 50px;
            border-radius: 100%;
            align-self: center;
            
            display: flex;
            align-items: center;
            justify-content: center;
            color: #E7161B;
        }

        &_text {
            h1 {
                font-family: Poppins;
                color: #393636;
                font-size: 18px;

            }

            p {
                color: rgba(57, 54, 54, 0.8);
                font-family: Hind;
                font-size: 14px;
                font-weight: normal;
            }

            ul {
                color: #393636;
                font-family: Hind;
                font-style: normal; 
                font-size: 14px;
                font-weight: normal;
            }


        }
    }




    ul {
        list-style-type: none;
    }
                ul li::before {
                content: "\2022";
                color: #E7161B;
                font-weight: bold;
                display: inline-block;
                width: 1em;
                margin-left: -1em;
            }


}