html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.breadcrumbs {
  height: 100px;
  background: linear-gradient(0deg, rgba(231, 22, 27, 0.71), rgba(231, 22, 27, 0.71)), url(img/category2.jpeg);
}
@media (max-width: 600px) {
  .breadcrumbs {
    height: 60px;
  }
}

.banner {
  position: relative;
}
.banner .banner_carousel {
  position: relative;
}
.banner .text-banner {
  position: absolute;
  top: 16.66%;
  left: 8.235%;
  width: 26.04%;
  height: 56%;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 3px;
}

header {
  position: relative;
}
header .bar {
  position: inherit;
  height: 30px;
  background-color: #E7161B;
}
header .bar .free-shipping-from {
  position: absolute;
  left: 37.85%;
  top: 26.67%;
  font-family: "Lato";
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
}
header .bar .social-icons {
  position: absolute;
  left: 79.86%;
  top: 10%;
}
header .menu {
  height: 90px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
header .menu img {
  position: absolute;
  left: 11.81%;
  top: 17.78%;
}
header .menu nav {
  position: absolute;
  left: 30.83%;
}
header .menu nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
header .menu nav ul li {
  margin: 5px;
}
header .menu .login_cart {
  position: absolute;
  right: 10vw;
  top: 1vh;
}

.category_page {
  position: relative;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.category_page section {
  background: linear-gradient(0deg, rgba(36, 36, 36, 0.65), rgba(36, 36, 36, 0.65)), url(img/banner_picture.jpeg);
  width: 37.5%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  margin: 100px 80px;
}

.whythebest .whycurrus {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(102, 102, 102, 0.85);
  margin: 0px 0px 30px 0px;
}
.whythebest .title {
  width: 37.5%;
  margin: 0px 0px 0px 12.14%;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.16);
}
.whythebest p {
  width: 37.5%;
  margin: 0px 0px 0px 12.14%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgba(102, 102, 102, 0.85);
}

.redband {
  background: #E7161B;
  display: flex;
  flex-direction: row;
}
.redband #signuptonewsletter {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 24px;
  position: relative;
  margin: 29px 4.7vw 29px 12vw;
  color: #FFFFFF;
}
.redband #getallthelatest {
  width: 300px;
  margin: 29px 50px 29px 4.7vw;
}
.redband #subscribe {
  margin: 29px 10vw 29px 50px;
}

.rideriskfree {
  position: relative;
}
.rideriskfree img {
  width: 30.9vw;
  height: 735px;
}
.rideriskfree #riskfree {
  width: 535px;
  height: 100px;
  transform: rotate(-90deg);
  background: #E7161B;
  position: absolute;
  margin: 0;
  top: 300px;
  left: 20px;
}
.rideriskfree #sections {
  position: absolute;
  display: grid;
  grid-template-columns: 22.57vw 22.57vw;
  grid-template-rows: 20vh 20vh;
  grid-template-areas: "one two" "three four";
  column-gap: 10px;
  row-gap: 10px;
  width: 62.5%;
  top: 100px;
  left: 350px;
}
.rideriskfree #sections #one {
  grid-area: one;
}
.rideriskfree #sections #two {
  grid-area: two;
}
.rideriskfree #sections #three {
  grid-area: three;
}
.rideriskfree #sections #four {
  grid-area: four;
}

.ourblog h1 {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(102, 102, 102, 0.85);
}
.ourblog #second {
  width: 1100px;
}

.instagram {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.instagram img {
  width: 16.6667vw;
  height: 26.6667vh;
}
.instagram #join {
  width: 16.6667vw;
  height: 26.6667vh;
  background: #E7161B;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

footer {
  background: #393636;
}
footer #one {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: grid;
  grid-template-columns: 29.167vw 14.375vw 14.17vw 57.715vw;
  grid-template-rows: 34vh;
  grid-template-areas: "contact support legal newsletter";
}
footer #one h6 {
  font-family: Lato;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 550;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}
footer #one ul {
  list-style-type: none;
}
footer #one a {
  text-decoration: none;
  color: #888888;
}
footer #two {
  grid-template-columns: 35.69vw 18.47vw 45.84vw;
  grid-template-rows: 16vh;
  grid-template-areas: "copyright social card";
}
footer #two #copyright {
  padding: 60px 0px;
}

/*# sourceMappingURL=style.css.map */
