html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.breadcrumbs {
  height: 100px;
  background: linear-gradient(0deg, rgba(231, 22, 27, 0.71), rgba(231, 22, 27, 0.71)), url(img/category2.jpeg);
}
@media (max-width: 600px) {
  .breadcrumbs {
    height: 60px;
  }
}

.faq {
  margin-left: 13.89%;
  margin-right: 13.89%;
  margin-top: 60px;
  margin-bottom: 60px;
}

.banner {
  position: relative;
}
.banner .banner_carousel {
  position: relative;
}
.banner .text-banner {
  position: absolute;
  top: 16.66%;
  left: 8.235%;
  width: 26.04%;
  height: 56%;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 3px;
}

header {
  position: relative;
}
header .bar {
  position: inherit;
  height: 30px;
  background-color: #E7161B;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
header .bar .free-shipping-from {
  font-family: "Lato";
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
}
header .menu {
  height: 90px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
header .menu #hamburger {
  display: none;
}
header .menu nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  list-style-type: none;
}
header .menu nav ul li {
  margin: 5px;
}
@media (max-width: 768px) {
  header .menu nav {
    display: none;
  }
}
header .menu a {
  text-decoration: none;
}
header .menu .login_cart {
  display: flex;
  flex-direction: row;
  margin: 15px;
}
header .menu .login_cart div {
  margin: 5px;
}
@media (max-width: 320px) {
  header .menu .login_cart {
    display: none;
  }
}
@media (max-width: 768px) {
  header .menu #hamburger {
    display: inline-block;
  }
}

aside {
  width: 288px;
  position: fixed;
  height: 100%;
  margin-top: -120px;
  z-index: 100;
  transform: translateX(-288px);
  background-color: #efefef;
}
@media (max-width: 320px) {
  aside {
    width: 286px;
  }
}

.open {
  transform: translateX(0);
}

.category_page {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.category_page section {
  background: linear-gradient(0deg, rgba(36, 36, 36, 0.65), rgba(36, 36, 36, 0.65)), url(img/banner_picture.jpeg);
  width: 37.5%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  margin: 100px 80px;
}

.whythebest .whycurrus {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(102, 102, 102, 0.85);
  margin: 0px 0px 30px 0px;
}
.whythebest .title {
  width: 37.5%;
  margin: 0px 0px 0px 12.14%;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.16);
}
.whythebest p {
  width: 37.5%;
  margin: 0px 0px 0px 12.14%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgba(102, 102, 102, 0.85);
}
.whythebest #grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}
.whythebest #grid #homefaq {
  padding: 50px;
}
@media (max-width: 1000px) {
  .whythebest #grid #image img {
    max-width: 70%;
    max-height: 70%;
  }
}
@media (max-width: 768px) {
  .whythebest #grid #image {
    padding-right: 50px;
    padding-top: 50%;
    padding-bottom: 50%;
  }
  .whythebest #grid #image img {
    min-width: 0;
    min-height: 0;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}
@media (max-width: 320px) {
  .whythebest #grid {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 10px;
  }
  .whythebest #grid #homefaq {
    padding: 10px;
  }
  .whythebest #grid #image {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.redband {
  background: #E7161B;
  display: flex;
  flex-direction: row;
}
.redband #signuptonewsletter {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 24px;
  position: relative;
  margin: 29px 4.7% 29px 12%;
  color: #FFFFFF;
}
.redband #getallthelatest {
  width: 300px;
  margin: 29px 50px 29px 4.7%;
}
.redband #subscribe {
  margin: 29px 10% 29px 50px;
}
@media (max-width: 768px) {
  .redband {
    flex-direction: column;
  }
}

.rideriskfree {
  display: grid;
  grid-template-columns: 16.6% 8.3% 4.1% 1fr;
  column-gap: 16px;
  grid-template-rows: 1fr;
}
@media (max-width: 320px) {
  .rideriskfree {
    display: block;
    position: relative;
    height: 1246px;
  }
}
.rideriskfree img {
  grid-column: 1/span 2;
  grid-row: 1/span 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 320px) {
  .rideriskfree img {
    max-width: 50%;
  }
}
.rideriskfree #riskfree {
  height: 520px;
  grid-column: 2/span 2;
  grid-row: 1/span 1;
  z-index: 5;
  margin: auto 0;
  background: #E7161B;
  text-align: center;
}
@media (max-width: 768px) {
  .rideriskfree #riskfree {
    height: 506px;
  }
}
@media (max-width: 320px) {
  .rideriskfree #riskfree {
    position: absolute;
    top: 0;
    width: 86.25%;
    margin-left: 22px;
    margin-right: 22px;
    margin-top: 40px;
    margin-bottom: 25px;
    height: 86px;
  }
}
.rideriskfree #sections {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "one two" "three four";
  column-gap: 10px;
  row-gap: 10px;
  margin-top: 13.6%;
  margin-bottom: 13.6%;
}
.rideriskfree #sections :first-of-type {
  align-self: end;
}
.rideriskfree #sections :nth-child(4n+2) {
  align-self: end;
}
.rideriskfree #sections > section {
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.16);
  height: 255px;
}
@media (max-width: 768px) {
  .rideriskfree #sections > section {
    height: 245px;
  }
}
@media (max-width: 320px) {
  .rideriskfree #sections > section {
    width: 75%;
    height: 245px;
    margin: auto;
    margin-bottom: 25px;
  }
}
.rideriskfree #sections #one {
  grid-area: one;
}
.rideriskfree #sections #two {
  grid-area: two;
}
.rideriskfree #sections #three {
  grid-area: three;
}
.rideriskfree #sections #four {
  grid-area: four;
}
@media (max-width: 320px) {
  .rideriskfree #sections {
    display: block;
    position: absolute;
    top: 151px;
    margin: 10px;
  }
}

.ourblog h1 {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(102, 102, 102, 0.85);
}
.ourblog #first {
  width: 79.86%;
  margin-bottom: 100px;
}
.ourblog #second {
  width: 79.86%;
  margin-bottom: 100px;
}
.ourblog .slick-prev {
  background: red;
}
.ourblog .slick-next {
  background: red;
}

.instagram {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.instagram img {
  object-fit: cover;
  min-width: 0;
  min-height: 0;
  height: 100%;
  width: 100%;
}
.instagram #join {
  background: #E7161B;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.instagram #join #insta {
  margin-top: 8.33%;
  margin-left: 8.33%;
}
.instagram #join #instatext {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: 20px;
  margin-bottom: 25px;
}

.filter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px auto;
}
.filter #range {
  width: 200px;
}

.shoppage #wrapper {
  margin-bottom: 100px;
}
@media (max-width: 768px) {
  .shoppage #wrapper {
    margin-bottom: 60px;
  }
}
@media (max-width: 600px) {
  .shoppage #wrapper {
    margin-bottom: 40px;
  }
}
.shoppage img {
  width: 100px;
  height: 100px;
}

.shoppage_gridview {
  display: grid;
  grid-template-columns: 36.1% auto 36.18%;
  grid-auto-rows: 368px;
  row-gap: 50px;
}
@media (max-width: 768px) {
  .shoppage_gridview {
    grid-template-columns: 224px 224px 224px;
    column-gap: 16px;
  }
}
@media (max-width: 600px) {
  .shoppage_gridview {
    grid-template-columns: 1fr;
  }
}

.shoppage_listview {
  display: grid;
  grid-auto-rows: 296px;
  row-gap: 40px;
}
@media (max-width: 768px) {
  .shoppage_listview {
    row-gap: 20px;
  }
}
@media (max-width: 600px) {
  .shoppage_listview {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
}

.product_listview {
  margin: 0 auto;
  position: relative;
  width: 1050px;
  height: 296px;
  background: #ffffff;
  border: 1px solid rgba(102, 102, 102, 0.2);
  box-sizing: border-box;
}
.product_listview #cartshare {
  display: block;
}

.product_gridview {
  position: relative;
  width: 301px;
  height: 368px;
}
.product_gridview img {
  width: 100px;
  height: 100px;
}
.product_gridview #grid_border {
  border: 1px solid rgba(102, 102, 102, 0.2);
  width: 300px;
  height: 296px;
  box-sizing: border-box;
}
.product_gridview #grid_border:hover #cartshare {
  display: block;
}

.sale {
  background: #e7161b;
  width: 50px;
  height: 20px;
  top: 20px;
  position: absolute;
}
.sale #sale_text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

#cartshare {
  display: none;
}

#gallery {
  display: grid;
  grid-template-columns: 375px 275px 375px;
  grid-template-rows: 430px 430px;
  column-gap: 25px;
  row-gap: 25px;
  margin-left: 13.54%;
  margin-right: 13.54%;
  margin-bottom: 100px;
}
#gallery :first-child {
  width: 650px;
  height: 430px;
  grid-column: 1/3;
  grid-row: 1/2;
}
#gallery :nth-child(2) {
  width: 375px;
  height: 430px;
  grid-column: 3/4;
  grid-row: 1/2;
}
#gallery :nth-child(3) {
  width: 375px;
  height: 430px;
  grid-column: 1/2;
  grid-row: 2/3;
}
#gallery :nth-child(4) {
  width: 650px;
  height: 430px;
  grid-column: 2/4;
  grid-row: 2/3;
}

#aboutus_welcome {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2.125fr;
  grid-template-rows: 230px 292px;
  grid-template-areas: "p1 p1 p1 pic1" "pic2 pic3 p2 p2";
  column-gap: 25px;
  row-gap: 25px;
  box-sizing: content-box;
  margin-top: 60px;
  margin-left: 11.8056%;
  margin-right: 11.8056%;
  margin-bottom: 100px;
}
@media (max-width: 768px) {
  #aboutus_welcome {
    grid-template-columns: 1fr 1fr 1.4167fr;
    grid-template-rows: 229px 1fr;
    grid-template-areas: "p1 p1 pic1" "pic2 pic3 p2";
  }
}
@media (max-width: 320px) {
  #aboutus_welcome {
    display: block;
  }
}
#aboutus_welcome #aboutus_first {
  grid-area: p1;
}
#aboutus_welcome #aboutus_second {
  grid-area: pic1;
  min-width: 0;
}
#aboutus_welcome #aboutus_second img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
#aboutus_welcome #aboutus_third {
  grid-area: pic2;
  min-width: 0;
}
#aboutus_welcome #aboutus_third img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
#aboutus_welcome #aboutus_fourth {
  grid-area: pic3;
  min-width: 0;
}
#aboutus_welcome #aboutus_fourth img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
#aboutus_welcome #aboutus_fifth {
  grid-area: p2;
  min-width: 0;
}

#our {
  background: #F8F8F8;
}
#our #principles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "premium genuine" "customer transparency";
}
#our #principles div:first-of-type {
  grid-area: premium;
}
#our #principles div:nth-of-type(2) {
  grid-area: genuine;
}
#our #principles div:nth-of-type(3) {
  grid-area: customer;
}
#our #principles div:nth-of-type(4) {
  grid-area: transparency;
}

#aim_vision {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
#aim_vision img {
  width: 100%;
  height: 100%;
}

.dealer {
  box-sizing: content-box;
  margin: 0 auto;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dealer h1 {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(102, 102, 102, 0.85);
}
.dealer p {
  margin-top: 30px;
  width: 500px;
  margin: 0 auto;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: rgba(102, 102, 102, 0.85);
}
.dealer button {
  width: 13.889%;
  background: #E7161B;
  border-radius: 3px;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-right: auto;
  margin-left: auto;
}

.dealer_form {
  display: grid;
  box-sizing: content-box;
  grid-template-columns: 225px 225px;
  column-gap: 50px;
  grid-template-rows: 40px 40px 40px 100px;
  row-gap: 30px;
  margin-bottom: 100px;
}
.dealer_form #address {
  grid-column: 1/span 2;
}
.dealer_form #message {
  grid-column: 1/span 2;
}
.dealer_form button {
  grid-column: 1/span 2;
  display: block;
  margin: 0 auto;
}

.contactus {
  display: grid;
  grid-template-columns: 450px 500px;
  column-gap: 50px;
  margin-left: 220px;
  margin-right: 220px;
}
.contactus #img_one {
  width: 300px;
  height: 259px;
  margin-top: 60px;
}
.contactus #img_two {
  width: 250px;
  height: 259px;
  margin-left: 50px;
  margin-bottom: 100px;
  margin-top: 30px;
}
.contactus #group_three {
  width: 250px;
  height: 434px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.16);
  position: relative;
  top: -600px;
  right: -200px;
  z-index: 9;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .contactus {
    display: flex;
    flex-direction: column;
    margin-left: 34px;
  }
  .contactus #images {
    width: 702px;
    height: 548px;
    margin-left: 34px;
  }
  .contactus #images #img_two {
    margin-bottom: -300px;
    margin-left: -250px;
  }
  .contactus #images #group_three {
    top: -200px;
  }
  .contactus #wearehere {
    margin: auto;
    text-align: center;
    margin-top: 100px;
  }
}

.privacy {
  display: flex;
  align-content: flex-start;
  margin-left: 220px;
  margin-right: 220px;
  flex-direction: column;
  flex-wrap: wrap;
  height: 700px;
}
.privacy > div {
  width: 300px;
}
@media (max-width: 768px) {
  .privacy {
    margin-left: 32px;
    margin-right: 32px;
    height: 1500px;
    width: 100%;
  }
  .privacy > div {
    width: 165px;
  }
}
@media (max-width: 320px) {
  .privacy {
    margin-left: 16px;
    margin-right: 16px;
    height: 1850px;
    width: 100%;
  }
  .privacy > div {
    width: 300px;
  }
}

.shipping {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  margin-left: 15.28%;
  margin-right: 15.28%;
  margin-top: 60px;
}
.shipping #icon {
  display: inline;
  width: 227px;
  height: 208px;
}
.shipping #text {
  margin-left: 50px;
}
.shipping #text h1 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #393636;
}
.shipping #text p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: rgba(102, 102, 102, 0.85);
}
.shipping #text p span {
  color: red;
}
@media (max-width: 768px) {
  .shipping {
    margin-bottom: 60px;
    margin-right: 32px;
  }
  .shipping #text {
    margin-right: 32px;
  }
}
@media (max-width: 320px) {
  .shipping {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
  }
}

.return {
  margin-top: 60px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.return #icontext {
  display: flex;
  margin-left: 11.81%;
  margin-right: 11.81%;
}
.return #icontext #icon {
  display: inline;
  width: 227px;
  height: 208px;
}
.return h1 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #393636;
}
.return p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: rgba(102, 102, 102, 0.85);
}
.return p span {
  color: red;
}
.return #return_box {
  margin-left: 220px;
  margin-right: 220px;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.16);
}
.return .return_form {
  display: grid;
  grid-template-columns: 218.7px 56.7px 137px 137px 56.7px 218.7px;
  column-gap: 25px;
  grid-template-rows: 40px 40px 40px 40px 40px 40px 100px;
  row-gap: 25px;
}
.return .return_form #vendor {
  grid-column: 1/span 2;
}
.return .return_form #action {
  grid-column: 3/span 2;
}
.return .return_form #sku {
  grid-column: 5/span 2;
}
.return .return_form #serial {
  grid-column: 1/span 2;
}
.return .return_form #quantity {
  grid-column: 3/span 2;
}
.return .return_form #date {
  grid-column: 5/span 2;
}
.return .return_form #first {
  grid-column: 1/span 2;
}
.return .return_form #last {
  grid-column: 3/span 2;
}
.return .return_form #company {
  grid-column: 5/span 2;
}
.return .return_form #email {
  grid-column: 1/span 2;
}
.return .return_form #phone {
  grid-column: 3/span 2;
}
.return .return_form #order {
  grid-column: 5/span 2;
}
.return .return_form #street {
  grid-column: 1/span 3;
}
.return .return_form #address {
  grid-column: 4/span 3;
}
.return .return_form #city {
  grid-column: 1/span 1;
}
.return .return_form #state {
  grid-column: 2/span 2;
}
.return .return_form #zip {
  grid-column: 4/span 2;
}
.return .return_form #country {
  grid-column: 6/span 1;
}
.return .return_form #message {
  grid-column: 1/span 6;
}
.return .return_form button {
  grid-column: 1/span 6;
  margin: 0 auto;
}

.warranty {
  margin-top: 60px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.warranty #icontext {
  display: flex;
  margin-left: 11.81%;
  margin-right: 11.81%;
}
.warranty #icontext #icon {
  display: inline;
  width: 227px;
  height: 208px;
}
.warranty #warranty_box {
  margin-left: 220px;
  margin-right: 220px;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.16);
}
.warranty h1 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #393636;
}
.warranty p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: rgba(102, 102, 102, 0.85);
}
.warranty p span {
  color: red;
}
.warranty #warranty_form {
  display: grid;
  grid-template-columns: 218.7px 56.7px 137px 137px 56.7px 218.7px;
  column-gap: 25px;
  grid-template-rows: 40px 40px 40px 40px 40px 100px;
  row-gap: 25px;
}
.warranty #warranty_form #first {
  grid-column: 1/span 2;
}
.warranty #warranty_form #last {
  grid-column: 3/span 2;
}
.warranty #warranty_form #order {
  grid-column: 5/span 2;
}
.warranty #warranty_form #email {
  grid-column: 1/span 2;
}
.warranty #warranty_form #phone {
  grid-column: 3/span 2;
}
.warranty #warranty_form #date {
  grid-column: 5/span 2;
}
.warranty #warranty_form #address1 {
  grid-column: 1/span 3;
}
.warranty #warranty_form #address2 {
  grid-column: 4/span 3;
}
.warranty #warranty_form #city {
  grid-column: 1/span 1;
}
.warranty #warranty_form #state {
  grid-column: 2/span 2;
}
.warranty #warranty_form #zip {
  grid-column: 4/span 2;
}
.warranty #warranty_form #country {
  grid-column: 6/span 1;
}
.warranty #warranty_form #model {
  grid-column: 1/span 6;
}
.warranty #warranty_form #message {
  grid-column: 1/span 6;
}
.warranty #warranty_form button {
  grid-column: 1/span 6;
  margin: 0 auto;
}

.affiliate {
  margin-top: 60px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.affiliate #icontext {
  display: flex;
  margin-left: 11.81%;
  margin-right: 11.81%;
}
.affiliate #icontext #icon {
  display: inline;
  width: 227px;
  height: 208px;
}
.affiliate #affiliate_box {
  margin-left: 220px;
  margin-right: 220px;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.16);
}
.affiliate h1 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #393636;
}
.affiliate p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: rgba(102, 102, 102, 0.85);
}
.affiliate p span {
  color: red;
}
.affiliate #affiliate_form {
  display: grid;
  grid-template-columns: 300px 300px;
  column-gap: 25px;
  grid-template-rows: 40px 40px 40px 40px 100px;
  row-gap: 25px;
}
.affiliate #affiliate_form #firstname {
  grid-column: 1/span 1;
}
.affiliate #affiliate_form #lastname {
  grid-column: 2/span 1;
}
.affiliate #affiliate_form #email {
  grid-column: 1/span 1;
}
.affiliate #affiliate_form #phonenumber {
  grid-column: 2/span 1;
}
.affiliate #affiliate_form #ineedhelp {
  grid-column: 1/span 2;
}
.affiliate #affiliate_form #concern {
  grid-column: 1/span 2;
}
.affiliate #affiliate_form #message {
  grid-column: 1/span 2;
}
.affiliate #affiliate_form button {
  grid-column: 1/span 2;
  margin: 0 auto;
}

.login {
  margin-left: 34.375%;
  margin-right: 34.375%;
  margin-top: 60px;
  margin-bottom: 100px;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.16);
}
.login img {
  width: 200px;
  height: 50px;
}
.login h1 {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(57, 54, 54, 0.85);
}

.terms {
  margin-top: 60px;
  margin-bottom: 100px;
  margin-left: 11.81%;
  margin-right: 11.81%;
}
.terms h1 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #393636;
}
.terms p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgba(102, 102, 102, 0.85);
}
@media (max-width: 768px) {
  .terms {
    margin-left: 4.43%;
    margin-right: 4.43%;
  }
}

.safety {
  margin-top: 60px;
  margin-bottom: 100px;
  margin-left: 11.81%;
  margin-right: 11.81%;
}
.safety #icontext {
  display: flex;
}
.safety h1 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #393636;
}
.safety p, .safety li {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgba(102, 102, 102, 0.85);
}
@media (max-width: 768px) {
  .safety {
    margin-left: 4.43%;
    margin-right: 4.43%;
  }
}

.cart {
  margin-left: 170px;
  margin-right: 170px;
  margin-bottom: 100px;
}
.cart #gridbox {
  display: grid;
  grid-template-columns: 2.5833fr 1fr;
  column-gap: 25px;
}
.cart #gridbox #box1 {
  border: 1px solid rgba(102, 102, 102, 0.3);
  box-sizing: border-box;
}
.cart #gridbox #box1 ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cart #gridbox #box1 #row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cart #gridbox #box1 #row a {
  text-decoration: none;
}
.cart #gridbox #box2 {
  background: #F6F6F6;
}

.checkout #grid {
  display: grid;
  grid-template-columns: 2.5833fr 1fr;
  column-gap: 25px;
}
.checkout #grid #box2 {
  background: #F6F6F6;
}

footer {
  box-sizing: border-box;
  background: #393636;
}
footer #one {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer #one #contact_us h6 {
  margin: 0;
}
footer #one h6 {
  font-family: Lato;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 550;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}
footer #one ul {
  list-style-type: none;
  padding-left: 0;
}
footer #one a {
  text-decoration: none;
  color: #888888;
}
@media (max-width: 320px) {
  footer #one {
    display: block;
  }
}
footer #two {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 56px;
  padding-bottom: 56px;
}

/*# sourceMappingURL=style.css.map */
