html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.breadcrumbs {
  height: 100px;
  background: linear-gradient(0deg, rgba(231, 22, 27, 0.71), rgba(231, 22, 27, 0.71)), url(img/category2.jpeg);
}
@media (max-width: 600px) {
  .breadcrumbs {
    height: 60px;
  }
}

.faq {
  margin-left: 13.89%;
  margin-right: 13.89%;
  margin-top: 60px;
  margin-bottom: 60px;
}

.sandbox {
  margin-left: 100px;
  margin-bottom: 100px;
  margin-right: 100px;
  margin-top: 60px;
}
.sandbox .wrapper {
  position: relative;
  margin-bottom: 50px;
}
.sandbox .wrapper .borderleft {
  border-left: 2px solid #E7161B;
  height: 85%;
  position: absolute;
  top: 18px;
  left: 25px;
  z-index: 7;
}
.sandbox .wrapper .borderclosed {
  border-left: 2px solid #E7161B;
  height: 50%;
  position: absolute;
  top: 18px;
  left: 25px;
  z-index: 4;
}
.sandbox .wrapper .title {
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.16);
  padding: 18px 50px 18px 50px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #E7161B;
  position: relative;
}
.sandbox .wrapper .title .icon {
  position: absolute;
  top: 20px;
  right: 20px;
}
.sandbox .wrapper .closed {
  display: none;
}
.sandbox .wrapper .open {
  display: block;
}
.sandbox .wrapper .content {
  padding: 20px 50px 20px 50px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: rgba(102, 102, 102, 0.85);
}

.banner {
  position: relative;
}
.banner .text-banner {
  width: 26.04%;
  height: 56%;
  position: absolute;
  top: 16.67%;
  left: 11.81%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  padding: 10px;
}
@media (max-width: 500px) {
  .banner .text-banner {
    width: 80%;
    height: 80%;
    top: 10%;
  }
}
.banner .text-banner #your-vehicle {
  color: #FFFFFF;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 1000px) {
  .banner .text-banner #your-vehicle {
    font-size: 24px;
    line-height: 30px;
  }
}
@media (max-width: 700px) {
  .banner .text-banner #your-vehicle {
    font-size: 18px;
  }
}
@media (max-width: 600px) {
  .banner .text-banner #your-vehicle {
    font-size: 16px;
    line-height: 18px;
  }
}
.banner .text-banner #introducing {
  font-family: Dancing Script;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #FFFFFF;
}
@media (max-width: 1000px) {
  .banner .text-banner #introducing {
    font-size: 24px;
  }
}
@media (max-width: 700px) {
  .banner .text-banner #introducing {
    font-size: 18px;
  }
}
@media (max-width: 400px) {
  .banner .text-banner #introducing {
    font-size: 16px;
  }
}
.banner .text-banner #text-banner__button {
  background: #E7161B;
  border-radius: 3px;
  padding: 5px;
  color: #FFFFFF;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  padding: 5% 18%;
}

header {
  position: relative;
}
header .bar {
  position: inherit;
  height: 30px;
  background-color: #E7161B;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
header .bar .free-shipping-from {
  font-family: "Lato";
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media (max-width: 500px) {
  header .bar .free-shipping-from {
    display: none;
  }
}
header .bar .social-icons svg {
  margin: 1px;
}
header .menu {
  background: #FFFFFF;
  position: relative;
  height: 90px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
header .menu #logo {
  position: absolute;
  left: 11.8056%;
}
@media (max-width: 1250px) {
  header .menu #logo {
    left: 36%;
  }
}
@media (max-width: 500px) {
  header .menu #logo img {
    width: 150px;
  }
}
header .menu #hamburger {
  display: none;
}
header .menu #menu_nav {
  position: absolute;
  left: 30.8333%;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
}
header .menu #menu_nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  list-style-type: none;
}
header .menu #menu_nav ul li {
  margin: 5px;
}
header .menu #menu_nav ul li a {
  color: rgba(102, 102, 102, 0.85);
}
@media (max-width: 1250px) {
  header .menu #menu_nav {
    display: none;
  }
}
header .menu a {
  text-decoration: none;
}
header .menu .login_cart {
  display: flex;
  flex-direction: row;
  margin: 15px;
  align-items: center;
  position: absolute;
  right: 11.528%;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
}
@media (max-width: 350px) {
  header .menu .login_cart #login {
    display: none;
  }
}
@media (max-width: 600px) {
  header .menu .login_cart #cart {
    display: none;
  }
}
header .menu .login_cart div {
  margin: 5px;
}
header .menu .login_cart div a {
  color: rgba(102, 102, 102, 0.85);
}
header .menu .login_cart svg {
  font-size: 13px;
}
header .menu .login_cart #cartsizeparent {
  position: relative;
}
header .menu .login_cart #cartsizeparent #cartsize {
  position: absolute;
  top: 1px;
  left: 4px;
}
@media (max-width: 1250px) {
  header .menu .login_cart #login {
    display: none;
  }
}
@media (max-width: 1250px) {
  header .menu #hamburger {
    display: inline-block;
    position: absolute;
    left: 11.8056%;
  }
}

aside {
  width: 288px;
  position: fixed;
  height: 100%;
  margin-top: -120px;
  z-index: 100;
  transform: translateX(-288px);
  background-color: #FFFFFF;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
@media (max-width: 320px) {
  aside {
    width: 286px;
  }
}

.open {
  transform: translateX(0);
}

.hamburger #xparent #x {
  position: absolute;
  right: 10px;
  top: 10px;
}
.hamburger #content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}
.hamburger #content img {
  padding: 5px;
  border-bottom: 1px solid red;
  width: 80%;
}
.hamburger #content #login {
  width: 95%;
  text-decoration: none;
  background: #E7161B;
  padding: 10px 30px;
  display: block;
  font-family: Lato;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
}
.hamburger #content #hamburger_nav {
  width: 95%;
}
.hamburger #content #hamburger_nav ul {
  list-style: none;
  padding: 30px;
  margin: 0px;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
}
.hamburger #content #hamburger_nav ul li {
  padding: 10px;
  border-bottom: 1px solid rgba(102, 102, 102, 0.2);
}
.hamburger #content #hamburger_nav ul li a {
  text-decoration: none;
  color: rgba(102, 102, 102, 0.85);
}

.category_page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.category_page #section_one {
  background: linear-gradient(0deg, rgba(36, 36, 36, 0.65), rgba(36, 36, 36, 0.65)), url(img/banner_picture.jpeg);
  background-size: cover;
}
.category_page #section_two {
  background: linear-gradient(0deg, rgba(36, 36, 36, 0.65), rgba(36, 36, 36, 0.65)), url(img/category2.jpeg);
  background-size: cover;
}
.category_page section {
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.08);
  width: 36.46%;
  height: 298px;
  margin-left: 25px;
  margin-right: 25px;
  padding: 10px;
}
@media (max-width: 1000px) {
  .category_page section {
    width: 25%;
  }
}
.category_page section .category_border {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.85);
  box-sizing: border-box;
}
.category_page section .category_border .category_title {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.category_page section .category_border .category_title:after {
  margin: 0 auto;
  width: 40%;
  display: block;
  content: "";
  padding-top: 10px;
  border-bottom: 3px solid #E7161B;
}
.category_page section .category_border .category_description {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}
@media (max-width: 800px) {
  .category_page {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .category_page section {
    height: 206px;
    width: 43.75%;
  }
}
@media (max-width: 700px) {
  .category_page {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .category_page section {
    width: 80%;
    margin: 30px auto;
  }
}

.whythebest .whycurrus {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(102, 102, 102, 0.85);
  margin: 0px 0px 30px 0px;
  padding-bottom: 10px;
}
.whythebest .whycurrus:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 10%;
  padding-top: 20px;
  border-bottom: 1px solid #E7161B;
}
.whythebest .title {
  width: 37.5%;
  margin: 0px 0px 0px 12.14%;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.16);
}
.whythebest p {
  width: 37.5%;
  margin: 0px 0px 0px 12.14%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgba(102, 102, 102, 0.85);
}
.whythebest #grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.whythebest #grid #homefaq {
  padding: 50px;
}
.whythebest #grid #image {
  padding: 0px 0px 80px 0px;
}
@media (max-width: 1000px) {
  .whythebest #grid #image img {
    max-width: 70%;
    max-height: 70%;
  }
}
@media (max-width: 768px) {
  .whythebest #grid #image {
    padding-right: 50px;
    padding-top: 50%;
    padding-bottom: 50%;
  }
  .whythebest #grid #image img {
    min-width: 0;
    min-height: 0;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}
@media (max-width: 500px) {
  .whythebest #grid {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 10px;
  }
  .whythebest #grid #homefaq {
    padding: 10px;
  }
  .whythebest #grid #image {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
.whythebest .sandbox {
  margin: 0;
  margin-left: 17%;
}
@media (max-width: 500px) {
  .whythebest .sandbox {
    margin-left: 0;
    margin-right: 10%;
  }
}
.whythebest .sandbox .wrapper {
  margin: 0;
  margin-left: 50px;
  position: relative;
  margin-bottom: 25px;
}
.whythebest .sandbox .wrapper .borderleft {
  border-left: 2px solid #E7161B;
  height: 85%;
  position: absolute;
  top: 18px;
  left: 25px;
  z-index: 7;
}
.whythebest .sandbox .wrapper .borderclosed {
  border-left: 2px solid #E7161B;
  height: 40%;
  position: absolute;
}
.whythebest .sandbox .wrapper .title {
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.16);
  width: 100%;
  margin: 0;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #E7161B;
  position: relative;
}
.whythebest .sandbox .wrapper .title .icon {
  position: absolute;
  top: 20px;
  right: 20px;
}
.whythebest .sandbox .wrapper .closed {
  display: none;
}
.whythebest .sandbox .wrapper .open {
  display: block;
}
.whythebest .sandbox .wrapper .content {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: rgba(102, 102, 102, 0.85);
}

.redband {
  background: #E7161B;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 800px) {
  .redband {
    display: block;
    width: 100%;
    text-align: center;
  }
}
.redband #signuptonewsletter {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  position: relative;
  margin: 29px 4.7% 29px 12%;
  color: #FFFFFF;
}
@media (max-width: 800px) {
  .redband #signuptonewsletter {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 20px 1px;
  }
}
.redband #getallthelatest {
  width: 300px;
  margin: 29px 50px 29px 4.7%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}
@media (max-width: 800px) {
  .redband #getallthelatest {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
}
.redband #subscribe {
  margin: 29px 10% 29px 50px;
  display: flex;
}
@media (max-width: 800px) {
  .redband #subscribe {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 10px 1px;
  }
}
.redband #subscribe input {
  height: 50px;
  width: 200px;
  padding-left: 20px;
}
.redband #subscribe button {
  height: 50px;
  width: 100px;
  background: #393636;
  border-radius: 0px 3px 3px 0px;
  font-family: Lato;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 350px) {
  .redband #subscribe {
    display: block;
  }
  .redband #subscribe input {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .redband #subscribe button {
    display: block;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .redband {
    flex-direction: column;
  }
  .redband #signuptonewsletter {
    margin: 30px auto;
    max-width: 90%;
  }
  .redband #getallthelatest {
    margin: 20px auto;
    max-width: 90%;
  }
  .redband button {
    border-radius: 3px 3px 3px 3px;
  }
}

.rideriskfree {
  display: grid;
  grid-template-columns: 27.4% 3.47% 3.47% 5.21% 1fr;
  grid-template-rows: 1fr;
  background: rgba(248, 248, 248, 0.7);
  position: relative;
}
@media (max-width: 1000px) {
  .rideriskfree {
    grid-template-columns: 15% 5% 3.47% 4% 1fr;
  }
}
@media (max-width: 400px) {
  .rideriskfree {
    display: block;
    position: relative;
    height: 1246px;
  }
}
.rideriskfree img {
  grid-column: 1/span 2;
  grid-row: 1/span 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 400px) {
  .rideriskfree img {
    max-width: 50%;
  }
}
.rideriskfree #riskfree {
  height: 72.79%;
  grid-column: 2/span 2;
  grid-row: 1/span 1;
  z-index: 5;
  margin: auto 0;
  background: #E7161B;
  text-align: center;
  position: relative;
}
.rideriskfree #riskfree #rideriskfree {
  position: absolute;
  top: 100px;
  left: -210px;
  width: 200px;
  margin: 0;
  transform: rotate(-90deg);
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media (max-width: 1000px) {
  .rideriskfree #riskfree #rideriskfree {
    left: -230px;
  }
}
.rideriskfree #riskfree #rideriskfree:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 50%;
  border-bottom: 2px solid white;
  padding-top: 20px;
}
@media (max-width: 1200px) {
  .rideriskfree #riskfree #rideriskfree:after {
    padding-top: 5px;
  }
}
@media (max-width: 400px) {
  .rideriskfree #riskfree #rideriskfree {
    transform: none;
    top: -290px;
    left: 80px;
  }
}
@media (max-width: 768px) {
  .rideriskfree #riskfree {
    height: 506px;
  }
}
@media (max-width: 400px) {
  .rideriskfree #riskfree {
    position: absolute;
    top: 0;
    width: 86.25%;
    margin-left: 22px;
    margin-right: 22px;
    margin-top: 40px;
    margin-bottom: 25px;
    height: 86px;
  }
}
.rideriskfree #sections {
  grid-column: 5/span 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "one two" "three four";
  column-gap: 25px;
  row-gap: 25px;
  margin-top: 13.6%;
  margin-bottom: 13.6%;
}
.rideriskfree #sections > section {
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(188, 78, 78, 0.16);
  height: 255px;
  position: relative;
}
.rideriskfree #sections > section .red {
  background-color: #E7161B;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 49px;
  height: 150px;
  position: absolute;
  top: 69px;
  left: 24px;
}
@media (max-width: 600px) {
  .rideriskfree #sections > section .red {
    width: 35px;
    height: 125px;
  }
}
.rideriskfree #sections > section h3 {
  color: #E7161B;
  font-size: 100%;
  margin: 20px auto;
  margin-left: 90px;
  position: relative;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}
.rideriskfree #sections > section p {
  margin-left: 90px;
  margin-right: 30px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #666666;
}
@media (max-width: 500px) {
  .rideriskfree #sections > section p {
    font-size: 14px;
    line-height: 15px;
  }
}
@media (max-width: 768px) {
  .rideriskfree #sections > section {
    height: 245px;
  }
}
@media (max-width: 400px) {
  .rideriskfree #sections > section {
    width: 75%;
    height: 245px;
    margin: auto;
    margin-bottom: 25px;
  }
}
.rideriskfree #sections #one {
  grid-area: one;
}
.rideriskfree #sections #two {
  grid-area: two;
}
@media (min-width: 401px) and (max-width: 650px) {
  .rideriskfree #sections #two {
    display: none;
  }
}
.rideriskfree #sections #three {
  grid-area: three;
}
.rideriskfree #sections #four {
  grid-area: four;
}
@media (min-width: 401px) and (max-width: 650px) {
  .rideriskfree #sections #four {
    display: none;
  }
}
.rideriskfree #sections #redone {
  background-image: url("img/premium.png");
}
.rideriskfree #sections #redtwo {
  background-image: url("img/easy.png");
}
.rideriskfree #sections #redthree {
  background-image: url("img/mobility.png");
}
.rideriskfree #sections #redfour {
  background-image: url("img/cost.png");
}
@media (max-width: 400px) {
  .rideriskfree #sections {
    display: block;
    position: absolute;
    top: 151px;
    margin: 10px;
  }
}
@media (min-width: 401px) {
  .rideriskfree #sections {
    margin-right: 13.54%;
  }
}

.ourblog {
  max-width: 95%;
}
.ourblog h1 {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(102, 102, 102, 0.85);
}
.ourblog #first {
  width: 79.86%;
  margin: 100px 9%;
}
.ourblog #second {
  margin: 90px 15%;
}
.ourblog #second p {
  margin: 85px;
  text-align: center;
}
@media (max-width: 800px) {
  .ourblog #second p {
    margin: 70px;
  }
}
@media (max-width: 700px) {
  .ourblog #second p {
    margin: 65px;
  }
}
@media (max-width: 500px) {
  .ourblog #second p {
    margin: 45px;
  }
}
@media (max-width: 400px) {
  .ourblog #second p {
    margin: 20px;
  }
}
@media (max-width: 768px) {
  .ourblog #second {
    margin: 60px 6.25%;
  }
}
@media (max-width: 400px) {
  .ourblog #second {
    margin: 40px 5%;
  }
}
.ourblog #second .second_quote {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #393636;
}
.ourblog #second .second_quote span {
  font-weight: bold;
}
.ourblog #second #redquote {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  color: #E7161B;
  font-size: 124px;
  line-height: 10px;
  text-align: center;
  margin-bottom: -50px;
}
@media (max-width: 500px) {
  .ourblog #second #redquote {
    margin-bottom: -20px;
  }
}
.ourblog .slick-prev:before {
  color: rgba(102, 102, 102, 0.85);
}
.ourblog .slick-next:before {
  color: rgba(102, 102, 102, 0.85);
}

.instagram {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.instagram img {
  object-fit: cover;
  min-width: 0;
  min-height: 0;
  height: 100%;
  width: 100%;
}
.instagram #join {
  background: #E7161B;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border-right: none;
}
.instagram #join #insta {
  margin-top: 8.33%;
  margin-left: 8.33%;
}
.instagram #join #instatext {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: 20px;
  margin-bottom: 25px;
}

.filter {
  width: 95%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px auto;
}
.filter #filter-icon {
  display: none;
}
@media (max-width: 820px) {
  .filter #filter-icon {
    display: inline;
  }
}
.filter #range {
  width: 200px;
  display: flex;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #393636;
}
.filter #filter-result {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #666666;
}
.filter #filter-result span {
  font-weight: bold;
}
@media (max-width: 820px) {
  .filter #filter-categories {
    display: none;
  }
}
@media (max-width: 820px) {
  .filter .filter-sort {
    display: none;
  }
}

.shoppage #wrapper {
  margin-bottom: 100px;
  margin-left: 15.28%;
  margin-right: 15.28%;
  margin-top: 60px;
}
@media (max-width: 768px) {
  .shoppage #wrapper {
    margin-bottom: 60px;
  }
}
@media (max-width: 600px) {
  .shoppage #wrapper {
    margin-bottom: 40px;
  }
}
.shoppage img {
  width: 100px;
  height: 100px;
}

.shoppage_gridview {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3.47%;
  grid-auto-rows: 368px;
  row-gap: 50px;
}
@media (max-width: 768px) {
  .shoppage_gridview {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
  }
}
@media (max-width: 600px) {
  .shoppage_gridview {
    grid-template-columns: 1fr;
  }
}
.shoppage_gridview .product_name {
  margin: 5px auto;
  width: 100%;
  text-align: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #393636;
}
.shoppage_gridview .product_price {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #E7161B;
  margin: 0px auto;
  text-align: center;
  width: 100%;
}

.shoppage_listview {
  display: grid;
  grid-auto-rows: 296px;
  row-gap: 40px;
}
@media (max-width: 768px) {
  .shoppage_listview {
    row-gap: 20px;
  }
}
@media (max-width: 600px) {
  .shoppage_listview {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
}

.product_listview {
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 296px;
  background: #ffffff;
  border: 1px solid rgba(102, 102, 102, 0.2);
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 2.5fr;
}
.product_listview .name_price {
  width: 90%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
.product_listview .name_price .product_name {
  color: #393636;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}
.product_listview .name_price .product_price {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #E7161B;
}
.product_listview a {
  grid-column: 1/span 1;
  box-sizing: border-box;
}
.product_listview a img {
  width: 100%;
  height: 100%;
  border-right: 1px solid rgba(102, 102, 102, 0.2);
}
.product_listview .product_description {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #666666;
}
.product_listview .button_detail {
  display: flex;
  justify-content: space-between;
}
.product_listview .button_detail .cartshare {
  display: flex;
  background: #E7161B;
  padding: 3px;
  padding-left: 15px;
  width: 30%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
}
.product_listview .button_detail .view_details a {
  text-decoration: none;
  color: #E7161B;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.product_gridview {
  position: relative;
  height: 368px;
}
.product_gridview img {
  width: 100%;
  height: 100%;
}
.product_gridview #grid_border {
  border: 1px solid rgba(102, 102, 102, 0.2);
  height: 296px;
  box-sizing: border-box;
}
.product_gridview #grid_border:hover .cartshare {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  bottom: 34px;
  background: #E7161B;
  padding: 5px;
  color: #FFFFFF;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}
.product_gridview #grid_border:hover .cartshare svg {
  margin: 0;
  padding: 0;
}
@media (max-width: 1000px) {
  .product_gridview #grid_border:hover .cartshare {
    font-size: 10px;
    line-height: 10px;
    bottom: 22px;
  }
}

.sale {
  background: #e7161b;
  width: 50px;
  top: 15px;
  position: absolute;
}
.sale #sale_text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  margin: 1px auto;
}

.cartshare {
  display: none;
  cursor: pointer;
}

#gallery {
  display: grid;
  grid-template-columns: 375px 275px 375px;
  grid-template-rows: 430px 430px;
  column-gap: 25px;
  row-gap: 25px;
  margin-left: 13.54%;
  margin-right: 13.54%;
  margin-bottom: 100px;
}
#gallery :first-child {
  width: 650px;
  height: 430px;
  grid-column: 1/3;
  grid-row: 1/2;
}
#gallery :nth-child(2) {
  width: 375px;
  height: 430px;
  grid-column: 3/4;
  grid-row: 1/2;
}
#gallery :nth-child(3) {
  width: 375px;
  height: 430px;
  grid-column: 1/2;
  grid-row: 2/3;
}
#gallery :nth-child(4) {
  width: 650px;
  height: 430px;
  grid-column: 2/4;
  grid-row: 2/3;
}

.single_page {
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
}
.single_page .product_detail #card_icons img {
  margin: 2%;
}
.single_page .product_detail #product_name {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #393636;
}
.single_page .product_detail #product_price {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #E7161B;
}
.single_page .product_detail #product_availability, .single_page .product_detail #product_category {
  font-family: Open Sans;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: #393636;
}
.single_page .product_detail #product_availability span, .single_page .product_detail #product_category span {
  font-weight: bold;
}
.single_page .product_detail #icon_list ul {
  list-style: none;
}
.single_page .product_detail #plusminus {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
.single_page .product_detail #plusminus #gray {
  background: #F8F8F8;
  margin-right: 25px;
  border: 1px solid rgba(102, 102, 102, 0.2);
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #666666;
}
.single_page .product_detail #plusminus #gray button {
  border: none;
  outline: none;
  background: none;
  margin: 10px;
}
.single_page .product_detail #plusminus button#addtocart {
  background: #E7161B;
  padding: 5px;
  width: 50%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.single_page #product_icons {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: rgba(102, 102, 102, 0.85);
}
.single_page #product_icons .icon_wrapper {
  width: auto;
  height: auto;
}
.single_page #product_icons .icon_wrapper .icon_caption {
  width: 140px;
  height: 40px;
}
.single_page #product_icons svg {
  width: 50px;
  height: 50px;
}
.single_page .product_intro {
  display: grid;
  width: 100%;
  grid-template-columns: 1.15fr 1fr;
  column-gap: 50px;
  grid-template-rows: 3fr 1fr;
  row-gap: 50px;
}
.single_page .product_intro #product_icons {
  display: flex;
}

.image-gallery-left-nav .image-gallery-svg, .image-gallery-right-nav .image-gallery-svg {
  height: 40px !important;
}

.react-tabs__tab {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #393636;
  border: none;
  border-top: rgba(102, 102, 102, 0.2);
  bottom: 0px !important;
}

.react-tabs__tab-list {
  border-bottom: none !important;
  border-top: 1px solid rgba(102, 102, 102, 0.2) !important;
}

.react-tabs {
  border-top: rgba(102, 102, 102, 0.2) !important;
}
.react-tabs p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #666666;
}
.react-tabs #specification {
  list-style: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  color: rgba(102, 102, 102, 0.85);
}
.react-tabs #specification li {
  padding: 7px;
}
.react-tabs #specification li:nth-child(odd) {
  background: #F8F8F8;
}

div.react-tabs > ul.react-tabs__tab-list > .react-tabs__tab--selected {
  border-radius: 0px 0px 0px 0px !important;
  border-top: 2px solid red !important;
}

.reviews #writeareview {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #E7161B;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
}
.reviews .main-section {
  background: #FFFFFF;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  margin-top: 50px;
  box-shadow: 0px 2px 7px 1px #aa9191;
}
.reviews .hedding-title h1 {
  margin: 0px;
  padding: 0px 0px 10px 0px;
  font-family: Open Sans;
  color: #212121;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}
.reviews .average-rating {
  float: left;
  text-align: center;
  width: 30%;
}
.reviews .average-rating h2 {
  margin: 0px;
  font-size: 72px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  line-height: 86px;
  text-align: center;
  color: #212121;
}
.reviews .average-rating p {
  margin: 0px;
  font-size: 20px;
}
.reviews .fa-star, .reviews .fa-star-o, .reviews .fa-star-half-o {
  color: #FDC91B;
  font-size: 25px !important;
}
.reviews .progress, .reviews .progress-2, .reviews .progress-3, .reviews .progress-4, .reviews .progress-5 {
  background: #F5F5F5;
  border-radius: 13px;
  height: 18px;
  width: 120%;
  padding: 3px;
  margin: 5px 0px 3px 0px;
  position: relative;
}
.reviews .progress .star, .reviews .progress-2 .star, .reviews .progress-3 .star, .reviews .progress-4 .star, .reviews .progress-5 .star {
  position: absolute;
  left: -35px;
  top: 1px;
  display: flex;
  align-items: center;
  height: 15px;
}
.reviews .progress .progress_percent, .reviews .progress-2 .progress_percent, .reviews .progress-3 .progress_percent, .reviews .progress-4 .progress_percent, .reviews .progress-5 .progress_percent {
  position: absolute;
}
.reviews .progress:after, .reviews .progress-2:after, .reviews .progress-3:after, .reviews .progress-4:after, .reviews .progress-5:after {
  content: "";
  display: block;
  height: 100%;
  border-radius: 9px;
}
.reviews .progressbar-1 {
  content: "";
  display: block;
  height: 100%;
  border-radius: 9px;
  background: #337AB7;
}
.reviews .progressbar-2 {
  content: "";
  display: block;
  height: 100%;
  border-radius: 9px;
  background: #64B46E;
  width: 80%;
}
.reviews .progressbar-3 {
  content: "";
  display: block;
  height: 100%;
  border-radius: 9px;
  background: #AED74A;
  width: 80%;
}
.reviews .progressbar-4 {
  content: "";
  display: block;
  height: 100%;
  border-radius: 9px;
  background: #F7E645;
  width: 80%;
}
.reviews .progressbar-5 {
  content: "";
  display: block;
  height: 100%;
  border-radius: 9px;
  background: #FF5722;
  width: 80%;
}
.reviews .loder-ratimg {
  display: inline-block;
  width: 40%;
}
.reviews .start-part {
  float: right;
  width: 30%;
  text-align: center;
}
.reviews .start-part span {
  color: #000000;
  font-size: 18px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
}
.reviews .reviews h1 {
  margin: 10px 0px 20px 30px;
}
.reviews .user-img img {
  height: 80px;
  width: 80px;
  border: 1px solid blue;
  border-radius: 50%;
}
.reviews .user-text .stars_date {
  display: flex;
  justify-content: space-between;
}
.reviews .user-text .stars_date span {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(102, 102, 102, 0.6);
}
.reviews .user-text h4, .reviews .user-text p {
  margin: 0px 0px 5px 0px;
}
.reviews .user-text h4 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #393636;
}
.reviews #loadmore {
  background: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #E7161B;
  border: none;
  display: flex;
  align-items: center;
}

#aboutus p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #666666;
}
#aboutus #aboutus_welcome {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2.125fr;
  grid-template-rows: 230px 292px;
  grid-template-areas: "p1 p1 p1 pic1" "pic2 pic3 p2 p2";
  column-gap: 25px;
  row-gap: 25px;
  box-sizing: content-box;
  margin-top: 60px;
  margin-left: 11.8056%;
  margin-right: 11.8056%;
  margin-bottom: 100px;
  padding-bottom: 50px;
}
#aboutus #aboutus_welcome #aboutus_first h6 {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: rgba(102, 102, 102, 0.85);
  margin: 0;
}
#aboutus #aboutus_welcome #aboutus_first span {
  color: #E7161B;
}
#aboutus #aboutus_welcome #aboutus_first h6::after {
  content: "";
  display: block;
  border-bottom: 1px solid red;
  padding-bottom: 10px;
  width: 4%;
}
@media (max-width: 768px) {
  #aboutus #aboutus_welcome {
    grid-template-columns: 1fr 1fr 1.4167fr;
    grid-template-rows: 229px 1fr;
    grid-template-areas: "p1 p1 pic1" "pic2 pic3 p2";
  }
}
@media (max-width: 320px) {
  #aboutus #aboutus_welcome {
    display: block;
  }
}
#aboutus #aboutus_welcome #aboutus_first {
  grid-area: p1;
}
#aboutus #aboutus_welcome #aboutus_second {
  grid-area: pic1;
  min-width: 0;
}
#aboutus #aboutus_welcome #aboutus_second img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
#aboutus #aboutus_welcome #aboutus_third {
  grid-area: pic2;
  min-width: 0;
}
#aboutus #aboutus_welcome #aboutus_third img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
#aboutus #aboutus_welcome #aboutus_fourth {
  grid-area: pic3;
  min-width: 0;
}
#aboutus #aboutus_welcome #aboutus_fourth img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
#aboutus #aboutus_welcome #aboutus_fifth {
  grid-column: 3/span 2;
  grid-row: 2/span 1;
  min-width: 0;
}
@media (max-width: 800px) {
  #aboutus #aboutus_welcome #aboutus_fifth {
    grid-column: 3/span 2;
    grid-row: 2/span 2;
  }
}
#aboutus #our {
  background: #F8F8F8;
}
#aboutus #our h1 {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(102, 102, 102, 0.85);
  padding: 60px;
}
#aboutus #our h1::after {
  content: "";
  display: block;
  border-bottom: 1px red solid;
  padding: 8px;
  width: 5%;
  margin: 0 auto;
}
#aboutus #our h3 {
  padding: 0px;
  margin: 0px;
}
#aboutus #our #principles {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "premium genuine" "customer transparency";
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 60px;
}
@media (max-width: 600px) {
  #aboutus #our #principles {
    display: block;
  }
}
@media (max-width: 600px) {
  #aboutus #our #principles svg {
    position: absolute;
    margin-top: -25px;
  }
}
#aboutus #our #principles #svg1 {
  position: absolute;
  left: 20px;
}
@media (max-width: 600px) {
  #aboutus #our #principles #svg1 {
    left: -50px;
  }
}
#aboutus #our #principles #svg2 {
  position: absolute;
  left: 53%;
}
@media (max-width: 600px) {
  #aboutus #our #principles #svg2 {
    left: -50px;
  }
}
#aboutus #our #principles #svg3 {
  position: absolute;
  left: 20px;
}
@media (max-width: 600px) {
  #aboutus #our #principles #svg3 {
    left: -50px;
  }
}
#aboutus #our #principles #svg4 {
  position: absolute;
  left: 53%;
}
@media (max-width: 600px) {
  #aboutus #our #principles #svg4 {
    left: -50px;
  }
}
#aboutus #our #principles .principle {
  padding: 0px 20px;
  border-left: 1px solid #666666;
  height: 80%;
  margin-left: 100px;
}
@media (max-width: 600px) {
  #aboutus #our #principles .principle {
    padding: 0px 10px;
    margin-left: 13px;
  }
}
#aboutus #our #principles h3 {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #E7161B;
}
#aboutus #our #principles div:first-of-type {
  grid-area: premium;
}
#aboutus #our #principles div:nth-of-type(2) {
  grid-area: genuine;
}
#aboutus #our #principles div:nth-of-type(3) {
  grid-area: customer;
}
#aboutus #our #principles div:nth-of-type(4) {
  grid-area: transparency;
}
#aboutus #aim_vision {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
@media (max-width: 500px) {
  #aboutus #aim_vision {
    display: block;
  }
}
#aboutus #aim_vision img {
  width: 100%;
  height: 100%;
}
#aboutus #aim_vision h3 {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: rgba(102, 102, 102, 0.85);
  margin-left: 50px;
  margin-top: 60px;
}
#aboutus #aim_vision h3::after {
  content: "";
  display: block;
  border-bottom: 1px solid red;
  width: 10%;
  padding-bottom: 20px;
}
#aboutus #aim_vision p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
  color: #666666;
  margin-left: 50px;
  margin-top: 60px;
  margin-right: 50px;
}
@media (max-width: 1000px) {
  #aboutus #aim_vision p {
    font-size: 13px;
    line-height: 20px;
    margin-top: 20px;
  }
}

.dealer {
  box-sizing: content-box;
  margin: 0 auto;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dealer h1 {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(102, 102, 102, 0.85);
}
.dealer h1::after {
  content: "";
  display: block;
  border-bottom: red solid 2px;
  padding-bottom: 15px;
  width: 20%;
  margin: 0 auto;
}
.dealer p {
  margin-top: 30px;
  width: 52.1%;
  margin: 0 auto;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: rgba(102, 102, 102, 0.85);
  margin-bottom: 40px;
}
@media (max-width: 700px) {
  .dealer p {
    width: 90%;
  }
}
.dealer button {
  background: #E7161B;
  border-radius: 3px;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-right: auto;
  margin-left: auto;
}

.dealer_form {
  display: grid;
  box-sizing: content-box;
  grid-template-columns: 225px 225px;
  column-gap: 50px;
  grid-template-rows: 40px 40px 40px 100px;
  row-gap: 30px;
  margin-top: 10px;
  margin-bottom: 100px;
}
@media (max-width: 700px) {
  .dealer_form {
    width: 90%;
    grid-template-columns: 1fr;
    column-gap: 20px;
    grid-template-rows: 40px 40px 40px 40px 40px 100px;
  }
}
.dealer_form #address {
  grid-column: 1/span 2;
}
@media (max-width: 700px) {
  .dealer_form #address {
    grid-column: 1/span 1;
  }
}
.dealer_form #message {
  grid-column: 1/span 2;
}
@media (max-width: 700px) {
  .dealer_form #message {
    grid-column: 1/span 1;
  }
}
.dealer_form button {
  box-sizing: border-box;
  grid-column: 1/span 2;
  display: block;
  margin: 0 auto;
  width: 40%;
  padding: 16px;
}
@media (max-width: 700px) {
  .dealer_form button {
    grid-column: 1/span 1;
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
  }
}

.contactus {
  background: #E5E5E5;
  box-sizing: border-box;
}
.contactus #wearehere_form {
  grid-template-columns: 1fr 1fr;
}
.contactus #wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  margin-left: 13%;
  margin-right: 13%;
}
.contactus #wrapper #wearehere {
  margin: auto;
  text-align: center;
  margin-top: 50px;
}
.contactus #wrapper #wearehere h1 {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(102, 102, 102, 0.85);
}
.contactus #wrapper #wearehere h4 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: rgba(102, 102, 102, 0.85);
}
.contactus #wrapper #wearehere button {
  background: #E7161B;
  border-radius: 3px;
  color: #FFFFFF;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 1 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
}
.contactus #wrapper #images #img_one {
  width: 43%;
  height: 37%;
  margin-top: 60px;
}
.contactus #wrapper #images #img_two {
  width: 35%;
  height: 36.5%;
  position: relative;
  top: 40%;
  right: 28%;
}
.contactus #wrapper #images #group_three {
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.16);
  width: 50%;
  position: relative;
  left: 35%;
  top: -30%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.contactus #wrapper #images #group_three div.three_box {
  border-bottom: 1px solid rgba(102, 102, 102, 0.2);
  height: 25%;
  width: 85%;
  margin: 0 auto;
}
.contactus #wrapper #images #group_three div.three_box h4 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #393636;
  margin-bottom: 3px;
  margin-top: 2px;
}
.contactus #wrapper #images #group_three div.three_box:last-of-type {
  border: none;
}
.contactus #wrapper #images #group_three div.three_box .three_box_flex {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  margin-bottom: 5px;
}
.contactus #wrapper #images #group_three div.three_box .three_box_flex svg {
  color: #E7161B;
  padding: 5px;
}
.contactus #wrapper #images #group_three div.three_box .three_box_flex div {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: rgba(102, 102, 102, 0.85);
  padding: 3px;
}
@media (max-width: 800px) {
  .contactus #wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
  }
  .contactus #wrapper #images {
    width: 90%;
    height: 548px;
    margin: 0 auto;
  }
  .contactus #wrapper #images #img_one {
    width: 43%;
    height: 37%;
    margin-top: 60px;
  }
  .contactus #wrapper #images #img_two {
    width: 35%;
    height: 36.5%;
    position: relative;
    top: 40%;
    right: 28%;
  }
  .contactus #wrapper #wearehere {
    margin: 0 auto;
    width: 90%;
  }
  .contactus #wrapper #wearehere .dealer_form {
    width: 100%;
  }
}

.privacy {
  display: flex;
  align-content: flex-start;
  margin-left: 220px;
  margin-right: 220px;
  flex-direction: column;
  flex-wrap: wrap;
  height: 700px;
}
.privacy > div {
  width: 300px;
}
@media (max-width: 768px) {
  .privacy {
    margin-left: 32px;
    margin-right: 32px;
    height: 1500px;
    width: 100%;
  }
  .privacy > div {
    width: 165px;
  }
}
@media (max-width: 320px) {
  .privacy {
    margin-left: 16px;
    margin-right: 16px;
    height: 1850px;
    width: 100%;
  }
  .privacy > div {
    width: 300px;
  }
}

.shipping {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  margin-left: 15.28%;
  margin-right: 15.28%;
  margin-top: 60px;
}
.shipping #icon {
  display: inline;
  width: 227px;
  height: 208px;
}
.shipping #text {
  margin-left: 50px;
}
.shipping #text h1 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #393636;
}
.shipping #text p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: rgba(102, 102, 102, 0.85);
}
.shipping #text p span {
  color: red;
}
@media (max-width: 768px) {
  .shipping {
    margin-bottom: 60px;
    margin-right: 32px;
  }
  .shipping #text {
    margin-right: 32px;
  }
}
@media (max-width: 320px) {
  .shipping {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
  }
}

.return {
  margin-top: 60px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.return #icontext {
  display: flex;
  margin-left: 11.81%;
  margin-right: 11.81%;
}
.return #icontext #icon {
  display: inline;
  width: 227px;
  height: 208px;
}
.return h1 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #393636;
}
.return p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: rgba(102, 102, 102, 0.85);
}
.return p span {
  color: red;
}
.return #return_box {
  margin-left: 220px;
  margin-right: 220px;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.16);
}
.return .return_form {
  display: grid;
  grid-template-columns: 218.7px 56.7px 137px 137px 56.7px 218.7px;
  column-gap: 25px;
  grid-template-rows: 40px 40px 40px 40px 40px 40px 100px;
  row-gap: 25px;
}
.return .return_form #vendor {
  grid-column: 1/span 2;
}
.return .return_form #action {
  grid-column: 3/span 2;
}
.return .return_form #sku {
  grid-column: 5/span 2;
}
.return .return_form #serial {
  grid-column: 1/span 2;
}
.return .return_form #quantity {
  grid-column: 3/span 2;
}
.return .return_form #date {
  grid-column: 5/span 2;
}
.return .return_form #first {
  grid-column: 1/span 2;
}
.return .return_form #last {
  grid-column: 3/span 2;
}
.return .return_form #company {
  grid-column: 5/span 2;
}
.return .return_form #email {
  grid-column: 1/span 2;
}
.return .return_form #phone {
  grid-column: 3/span 2;
}
.return .return_form #order {
  grid-column: 5/span 2;
}
.return .return_form #street {
  grid-column: 1/span 3;
}
.return .return_form #address {
  grid-column: 4/span 3;
}
.return .return_form #city {
  grid-column: 1/span 1;
}
.return .return_form #state {
  grid-column: 2/span 2;
}
.return .return_form #zip {
  grid-column: 4/span 2;
}
.return .return_form #country {
  grid-column: 6/span 1;
}
.return .return_form #message {
  grid-column: 1/span 6;
}
.return .return_form button {
  grid-column: 1/span 6;
  margin: 0 auto;
}

.warranty {
  margin-top: 60px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.warranty #icontext {
  display: flex;
  margin-left: 11.81%;
  margin-right: 11.81%;
}
.warranty #icontext #icon {
  display: inline;
  width: 227px;
  height: 208px;
}
.warranty #warranty_box {
  margin-left: 220px;
  margin-right: 220px;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.16);
}
.warranty h1 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #393636;
}
.warranty p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: rgba(102, 102, 102, 0.85);
}
.warranty p span {
  color: red;
}
.warranty #warranty_form {
  display: grid;
  grid-template-columns: 218.7px 56.7px 137px 137px 56.7px 218.7px;
  column-gap: 25px;
  grid-template-rows: 40px 40px 40px 40px 40px 100px;
  row-gap: 25px;
}
.warranty #warranty_form #first {
  grid-column: 1/span 2;
}
.warranty #warranty_form #last {
  grid-column: 3/span 2;
}
.warranty #warranty_form #order {
  grid-column: 5/span 2;
}
.warranty #warranty_form #email {
  grid-column: 1/span 2;
}
.warranty #warranty_form #phone {
  grid-column: 3/span 2;
}
.warranty #warranty_form #date {
  grid-column: 5/span 2;
}
.warranty #warranty_form #address1 {
  grid-column: 1/span 3;
}
.warranty #warranty_form #address2 {
  grid-column: 4/span 3;
}
.warranty #warranty_form #city {
  grid-column: 1/span 1;
}
.warranty #warranty_form #state {
  grid-column: 2/span 2;
}
.warranty #warranty_form #zip {
  grid-column: 4/span 2;
}
.warranty #warranty_form #country {
  grid-column: 6/span 1;
}
.warranty #warranty_form #model {
  grid-column: 1/span 6;
}
.warranty #warranty_form #message {
  grid-column: 1/span 6;
}
.warranty #warranty_form button {
  grid-column: 1/span 6;
  margin: 0 auto;
}

.affiliate {
  margin-top: 60px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.affiliate #icontext {
  display: flex;
  margin-left: 11.81%;
  margin-right: 11.81%;
}
.affiliate #icontext #icon {
  display: inline;
  width: 227px;
  height: 208px;
}
.affiliate #affiliate_box {
  margin-left: 220px;
  margin-right: 220px;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.16);
}
.affiliate h1 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #393636;
}
.affiliate p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: rgba(102, 102, 102, 0.85);
}
.affiliate p span {
  color: red;
}
.affiliate #affiliate_form {
  display: grid;
  grid-template-columns: 300px 300px;
  column-gap: 25px;
  grid-template-rows: 40px 40px 40px 40px 100px;
  row-gap: 25px;
}
.affiliate #affiliate_form #firstname {
  grid-column: 1/span 1;
}
.affiliate #affiliate_form #lastname {
  grid-column: 2/span 1;
}
.affiliate #affiliate_form #email {
  grid-column: 1/span 1;
}
.affiliate #affiliate_form #phonenumber {
  grid-column: 2/span 1;
}
.affiliate #affiliate_form #ineedhelp {
  grid-column: 1/span 2;
}
.affiliate #affiliate_form #concern {
  grid-column: 1/span 2;
}
.affiliate #affiliate_form #message {
  grid-column: 1/span 2;
}
.affiliate #affiliate_form button {
  grid-column: 1/span 2;
  margin: 0 auto;
}

.login {
  margin-left: 34.375%;
  margin-right: 34.375%;
  margin-top: 60px;
  margin-bottom: 100px;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.16);
}
.login img {
  width: 200px;
  height: 50px;
}
.login h1 {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(57, 54, 54, 0.85);
}

.terms {
  margin-top: 60px;
  margin-bottom: 100px;
  margin-left: 11.81%;
  margin-right: 11.81%;
}
.terms h1 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #393636;
}
.terms p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgba(102, 102, 102, 0.85);
}
@media (max-width: 768px) {
  .terms {
    margin-left: 4.43%;
    margin-right: 4.43%;
  }
}

.safety {
  margin-top: 60px;
  margin-bottom: 100px;
  margin-left: 11.81%;
  margin-right: 11.81%;
}
.safety #icontext {
  display: flex;
}
.safety h1 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #393636;
}
.safety p, .safety li {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgba(102, 102, 102, 0.85);
}
@media (max-width: 768px) {
  .safety {
    margin-left: 4.43%;
    margin-right: 4.43%;
  }
}

.cart {
  margin-left: 170px;
  margin-right: 170px;
  margin-bottom: 100px;
}
.cart #gridbox {
  display: grid;
  grid-template-columns: 2.5833fr 1fr;
  column-gap: 25px;
}
.cart #gridbox #box1 {
  border: 1px solid rgba(102, 102, 102, 0.3);
  box-sizing: border-box;
}
.cart #gridbox #box1 ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cart #gridbox #box1 #row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cart #gridbox #box1 #row a {
  text-decoration: none;
}
.cart #gridbox #box2 {
  background: #F6F6F6;
}

.checkout #grid {
  display: grid;
  grid-template-columns: 2.5833fr 1fr;
  column-gap: 25px;
}
.checkout #grid #box2 {
  background: #F6F6F6;
}

.order h1 {
  text-align: center;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(102, 102, 102, 0.85);
  margin: 20px auto;
}
.order form {
  width: 30%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}
.order form > * {
  margin: 10px 0px;
  padding: 10px;
}
.order form button {
  width: 30%;
  margin: 10px auto;
  border-radius: 3px;
  background: #E7161B;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 80%;
  line-height: 19px;
  padding: 10px;
}
@media (max-width: 700px) {
  .order form {
    width: 80%;
  }
  .order form button {
    width: 100%;
  }
}
.order p {
  width: 70%;
  margin: 0 auto;
  font-size: 16px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: rgba(102, 102, 102, 0.85);
  margin: 20px auto;
}

footer {
  box-sizing: border-box;
  background: #393636;
}
@media (max-width: 700px) {
  footer {
    position: relative;
    height: 1000px;
  }
}
@media (max-width: 450px) {
  footer {
    position: relative;
    height: 1000px;
  }
}
footer #one {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  height: 300px;
}
@media (max-width: 400px) {
  footer #one {
    height: 350px;
  }
}
@media (max-width: 700px) {
  footer #one {
    flex-direction: column;
    border-bottom: none;
  }
}
footer #one #contact_us #ifyouhave {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #888888;
  margin-bottom: 40px;
}
footer #one #contact_us #ifyouhave span {
  color: #E7161B;
}
footer #one #contact_us #phone {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  margin-top: 40px;
}
footer #one #contact_us #phone span {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
}
@media (max-width: 700px) {
  footer #one #contact_us #phone {
    margin-left: 30px;
  }
}
footer #one h6 {
  font-family: Lato;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 550;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  position: absolute;
  top: 10px;
}
@media (max-width: 700px) {
  footer #one h6 {
    position: relative;
    margin-top: 0px;
    margin-left: 30px;
  }
}
footer #one h6 + div {
  position: absolute;
  top: 80px;
}
@media (max-width: 700px) {
  footer #one h6 + div {
    position: relative;
    top: 0px;
    margin-left: 30px;
  }
}
footer #one h6 + ul {
  position: absolute;
  top: 80px;
  margin-top: 0px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #888888;
}
@media (max-width: 700px) {
  footer #one h6 + ul {
    position: relative;
    top: 0px;
    margin-left: 30px;
  }
}
footer #one ul {
  list-style-type: none;
  padding-left: 0;
}
footer #one ul li {
  margin-bottom: 11px;
}
footer #one a {
  text-decoration: none;
  color: #888888;
}
@media (max-width: 700px) {
  footer #one {
    display: block;
  }
}
@media (max-width: 800px) {
  footer #one #newsletter {
    display: block;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
}
footer #one #newsletter #newsletter-description {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #888888;
}
footer #one #newsletter input {
  padding: 7px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(102, 102, 102, 0.85);
}
@media (max-width: 700px) {
  footer #one #newsletter input {
    margin-top: 30px;
    margin-left: 30px;
  }
}
footer #one #newsletter button {
  padding: 7px;
  background: #E7161B;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
footer #two {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 56px;
  padding-bottom: 56px;
  position: relative;
}
footer #two #copyright {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  color: #888888;
}
footer #two #copyright span {
  color: #E7161B;
}
footer #two #card svg {
  margin: 0 8px;
  padding: 2px;
  width: 20px;
}
@media (max-width: 700px) {
  footer #two {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    top: 400px;
  }
}

/*# sourceMappingURL=style.css.map */
